
#case_open_container{

	height: 76%;
	position: absolute;
	width: 80%;
	top:25%;
	margin-left: 12%;

	
}
#upper_container{
		width: 100%;
		height:200px;
		
}

#lower_container{
	height: 450px;
	width: 100%;
	padding-top: 20px;
	
	
}

/*case - line*/
	#line_break
	{
		float: left;
		margin-top: 3%;
		margin-left: 2.8%;


	}
	.case-contain-line{
			
			font-family: HandelGotDBol;
			font-size: 26px;
			font-weight: 600;
			letter-spacing: 1px;
			line-height: 0;
			margin: 0 auto;
			padding-right: 3px;
			padding-left: 3px;
		}
		.case-contain-line:before
		{
		 background-color: #0cecaf;
		 content: "";
		 display: inline-block;
		 height: 4px;
		 position: relative;
		 vertical-align: top;
		 width: 10%;
		 overflow: hidden;
		}
		.case-contain-line:after
		{
		 background-color: #0cecaf;
		 content: "";
		 display: inline-block;
		 height: 4px;
		 position: absolute;
		 vertical-align: top;
		 width: 82%;
		 overflow: hidden;
		}
		@media screen and (max-width: 1440px)
		{
			.case-contain-line:after
			{
				width:78%;
			}
		}
		.case-contain-line:before {
		 right: 0.3em;
		 margin-left: -15%;
		}
		.case-contain-line:after {
		 left: 0.3em;
		 margin-left: 210px;
		 margin-right: -50%;
		}

/** cases show case */
	#cases_showcase{
		
		position: absolute;
		margin-top:6%;
		margin-left: 0%;
		margin-right: 2%;
		width: 98%;
		
		overflow-x:hidden;


	}
	#cases_showcase >table {
		width:100%;
		text-align: center;

	}

/*css for case image*/
	#case_to_open
	{
		display: inline;
		float: left;
		
		width: 50%;
		height:200px;
	}

/*css for case open button */
	#case_price_button{
		float :right;
		
		width: 50%;
		height :187px;
		padding-top: 1%;
	}
	#enclose{
			width: 300px;
			float: right;

			margin: 30px;
	}
	#parallelogram {
			width: 100%;
			height: 60px;
			-webkit-transform: skew(155deg);
			   -moz-transform: skew(155deg);
			     -o-transform: skew(155deg);
			background: linear-gradient(#636363, #070707);
			border: solid #fff 2px;
			-moz-box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.67), inset -3px -3px 3px rgba(0, 0, 0, 0.95);
		    -webkit-box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.67), inset -3px -3px 3px rgba(0, 0, 0, 0.95);
		    box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.67), inset -3px -3px 3px rgba(0, 0, 0, 0.95);
		    
		}
		.freezeText{
			font-family: HandelGotDBol;
			color: #fff;
			font-size: 27px;
			font-style: italic;
			letter-spacing: 0.7px;
			text-shadow: -1.5px -1.5px 0px rgba(0,0,0,0.9), 1px 1px 0px rgba(255,255,255,0.5);
		}
		#lit{
			font-family: HandelGotDBol;
			color: #1fcd13;
		}

		#fontOn{
			position: absolute;
			z-index: 100;
			text-align: center;
			width: 300px;
			margin-top: 13px;
			cursor: pointer;
		}
		/*
		@font-face {
		    font-family: HandelGotDBol;
		    src: url(HANDGOTL.ttf);
		}*/

/* case contain divs */
	
	#both
	{
		position: relative;
	}


	#case_contain_div{
		width: 240px;
		height:210px;
		/*background-color: grey;*/
		border-radius: 4px;
		box-shadow:2px 2px 10px black;  
		border: 3px solid rgba(255,255,255,0.43);
		/*opacity: 0.43;*/
	}

	#case_contain_div_content
	{
		position: absolute;
		padding: 3px;
		z-index: 10;
		width: 240px;
		height:210px;
		
	}

	

	#case_contain_div_upper{
		width: 100%;
		height: 58%;
		background-color: rgba(147,147,147,0.43) ;

	}

	#case_contain_div_upper_content{
		width: 100%;
		height: 58%;

	}

	#case_contain_div_upper_content img {
		/*width: 75%;
		margin-left: 7%;
		margin-right: 7%;*/
		height: 95%;
		padding:2,5%;
		/*margin-top:-3%*/ 
	}

	


	#case_contain_div_upper img {
		width: 86%;
		margin-left: 7%;
		margin-right: 7%;
		height: auto;
		margin-top:-9% 
	}

	

	#case_contain_div_lower {
		width: 100%;
		height: 42%;
		background-color:#262626;
	}

	#case_contain_div_lower_content {
		width: 100%;
		height: 42%;

	}

	#case_contain_item_name {
		padding-top: 5px;
		text-align: center;
		width: 100%;
		height:20px;

	}

	

	#case_contain_weapon_skin_name
	{
		color: white;
		font-weight: 500;
		font-style: italic;
		display: inline;
		float: left;
		/*width: auto;*/
		width: 112px;
		max-height:16px;
		font-size: 13px;
		text-align: left;
		padding-left: 2%;
		overflow: hidden;
		
	}

	#case_contain_weapon_name
	{
		color: white;
		display: inline;
		float:right;
		font-weight: 900;
		/*width: auto;*/
		width:112px;
		max-height:16px;
		font-size: 13px;
		text-align: right;
		padding-right:2%;
		overflow: hidden;
		
	}



	#case_contain_item_extras
	{
		
		height: 30px;
		width:91%;
		padding-right: 2.5%;
		padding-left: 2.5%;
		margin-left: 1.5%;
		margin-right: 1.5%;
		margin-top: 2%;
	}

	

	#case_contain_item_extras_upper{
		
		height: 15px;
		font-size:12px;
		overflow: hidden;


	}

	#case_contain_item_extras_lower
	{
		height: 15px;
		font-size: 12px;
		overflow: hidden;
	}

	

	

	#case_contain_item_extras_upper_left
	{ 
		display: inline;
		width:40%;
		float: left;
		text-align: left;
		color :#b2b2b2;
		overflow-x: hidden;
	}

	#case_contain_item_extras_upper_middle
	{	
		width: 1%;
		display: inline;
		float: left;
		text-align: center;
		color :#b2b2b2;
	}
	#case_contain_item_extras_upper_right
	{
		width: 54%;
		display: inline;
		float: left;
		text-align: left;
		padding-left: 5%;
		overflow-x: hidden;
		color :#b2b2b2	;
	}

	#case_contain_item_odds
	{
		
		width:94%;
		margin-left: 3%;
		margin-right: 3%;
		padding-top: 2.5%;
		font-size: 17px;
		font-weight: 900;
		

	}

	

	#odds_left
	{
		display: inline;
		float: left;
		width: 45%;
		text-align: right;
		padding-right: 4%;
	}

	#odds_middle
	{
		display: inline;
		float: left;
		width: 1%;
		text-align: center;
	}
	#odds_right
	{
		display: inline;
		float: left;
		width: 45%;
		text-align: left;
		padding-left: 4%;
	}

	.bk
	{
		
			color : #989898 ; font-style: italic; position:absolute;top:16.5%; left:7%; width:auto; font-size: 22px;
	}

	@media screen and (max-width: 1500px)
	{
		.bk {
			top:21.5%;
		}

		#case_open_container
		{
			top:27%;
		}
	}

	#tradeable_chk
	{
		width: 30%;
		margin-left:35%;
		height:auto;
		cursor: pointer;
		background-color: #4c1d1d;
		z-index:1000;
		font-weight: 900;
		position: absolute;
		top: 16%;
		color: #d33937;
		text-align : center;
		padding-top:5px;
		padding-bottom: 7px;
		border-radius:3px;
		border:2px solid #d33937;
	}

	#tradeable_chk_y
	{
		width: 30%;
		margin-left:35%;
		height:auto;
		background-color: #16361f;
		z-index:1000;
		font-weight: 900;
		position: absolute;
		top: 16%;
		letter-spacing: 1px;
		color: #0ef229;
		text-align : center;
		padding-top:5px;
		padding-bottom: 7px;
		border-radius:3px;
		border:2px solid #0ef229;
	}