.allinone_container
{
	display: inline-flex ;  
	height: 180px; 
	width: 240px; 
	position: relative; 
}


.allinone_container_skinImage
{
	transition: all 0.15s;
	z-index:135;
	width: auto; 
	height: auto; 
	position: absolute; 
	top:-12%; 
	right:-4% ; 
	filter: drop-shadow(-3px 3px 1px  white) drop-shadow(3px -3px 0 white) ;
	-webkit-filter: drop-shadow(-3px 3px 1px  white) drop-shadow(3px -3px 0 white) ;

}


.allinone_container_skinImage:hover
{
	
	top:-15%;
}

.allinone_pic
{
	position: absolute; 
	width:90%; 
	margin-left: 7%;
	z-index: 119; 
	margin-top:0%;
}




.allinone_dp_container {
    position: absolute;
    top: 70%;
    right: 0;
    width: 42px;
    height: 42px;
    z-index: 140;
}
 .allinone_dp {
    position: absolute;
    /* top: 2px; */
    /* right: 2px; */
    width: 40px;
    height: 40px;
    z-index: 140;
    margin-top: 1px;
    margin-left: 1px;
}