.pistol_maincontainer
{
	display: inline-flex;
	height: 180px;
	width: 240px;
	position: relative;
	
}
  
.pistol_container_skinImage
{
	z-index:135;
	width: auto; 
	height: auto; 
	position: absolute; 
	cursor: pointer;
	top: -20%; 
	right: -2% ;
	filter: drop-shadow(-3px 3px 1px  white) drop-shadow(3px -3px 0 white) ;
	-webkit-filter: drop-shadow(-3px 3px 1px  white) drop-shadow(3px -3px 0 white) ;

} 
.pistol_container_skinImage:hover
{
	top:-22%;
}
.pistol_pic
{
	position: absolute; 
	width:64%; 
	margin-left: 33%;
	z-index: 1; 
	margin-top:-5%;
}

.pistol_dp_container {
    position: absolute;
    top: 70%;
    right: 0;
    width: 42px;
    height: 42px;
    z-index: 140;
}
 .pistol_dp {
    position: absolute;
    /* top: 2px; */
    /* right: 2px; */
    width: 40px;
    height: 40px;
    z-index: 140;
    margin-top: 1px;
    margin-left: 1px;
}
